.text-center {
    text-align: center;
}
.top-image {
    text-align: center;
}
.top-image {
    border-color: blue !important;
}

.top-hero {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

h1, h2 {
    color: darkolivegreen;
}

header>img {
    border: 10px solid #ccc;
    transition: 1s;
}
header img:hover {
  border-color:lime;  
}
a {
    color: black;
    transition: ease-in 1s;
}
    a:hover {
        color:blue;
        transition: ease-in 1s;
    }

    .tags span {
        border: 1px solid rgb(6, 245, 86);
        padding: 5px 10px;
        color:rgb(6, 100, 26);
        border-radius: 8px;
        font-size: 0.8rem;
    }

    .top-container {
        background-image: url('ocean-gd0bbf1688_1920.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
    
    footer.text-center {text-align:center;}